  <h2>Переподчинение отдела</h2>

  Дата внесения изменения:
  <input type="date" v-model="rec.date_of_change">
  <br>

  Отдел:
  <select v-model="rec.division_id">
    <option v-for="div in divisions" :value="div.id">{{' . '.repeat(div.level)}} {{div.name}}</option>
  </select>
  <br>
  Новый родительский отдел:
  <select v-model="rec.parent_division_id">
    <option v-for="div in divisions" :value="div.id">{{' . '.repeat(div.level)}} {{div.name}}</option>
  </select>
