  <p>Приветствуем, <%= @user_name %>!</p>
  <p>
    Заявление на изменение <b><%= @request_change.name %></b>
    в бюджете <b><%= @request_change.budget.name %></b> - согласовано.
  </p>
  <p>
    <a href="<%= @url %>">Перейти на карточку</a>.
  </p>
  <p>С уважением,<br/> Бюджетная Система</p>