  <h2>Перенос штатной единицы</h2>

  Дата внесения изменения:
  <input type="date" v-model="rec.date_of_change">
  <br>

  Из отдела:
  <select v-model="rec.old_division_id">
    <option v-for="div in divisions" :value="div.id">{{' . '.repeat(div.level)}} {{div.name}}</option>
  </select>
  <br>

  Штатная единица:
  <select v-model="rec.staff_item_id">
    <option v-for="staff_item in staff_items" :value="staff_item.id">{{staff_item.position_name}}</option>
  </select>
  <br>

  В отдел:
  <select v-model="rec.new_division_id">
    <option v-for="div in divisions" :value="div.id">{{' . '.repeat(div.level)}} {{div.name}}</option>
  </select>
  <br>