.row
  .col-2.text-right Отдел:
  .col= change.division.name
.row
  .col-2.text-right Старое наименование:
  .col= change.old_name
.row
  .col-2.text-right Новое наименование:
  .col= change.new_name
