  <p>Приветствуем, <%= @user_name %>!</p>
  <p>
    Бюджет <b><%= @budget.name %></b> - Утвержден.
  </p>
  <p>
    Перейти на карточку бюджета: <a href="<%= @url %>"><%= @url %></a>.
  </p>
  <p>С уважением,<br/> Бюджетная Система</p>